{"openapi":"3.0.0","info":{"title":"Limestone Networks API","description":"LSN API Documentation","contact":{"email":"support@limestonenetworks.com"},"version":"v2.0.0"},"servers":[{"url":"https:\/\/api.dallas-idc.com","description":"Limestone Network API Host","x-public":true}],"paths":{"\/v2\/server\/{server}\/tags":{"get":{"tags":["Server"],"summary":"Get server tags","operationId":"0dcb8569924482ab184b96de37b8c38b","parameters":[{"name":"server","in":"path","description":"ID of the server","required":true,"schema":{"type":"integer","format":"int64"}},{"name":"include_deleted","in":"query","description":"Include soft deleted tags","required":false,"schema":{"type":"boolean","default":false}}],"responses":{"200":{"description":"List of server tags","content":{"application\/json":{"schema":{"type":"array","items":{"type":"string"}}}}},"403":{"description":"Unauthorized access"}},"x-public":true,"x-version":"v2"},"post":{"tags":["Server"],"summary":"Create a new server tag","operationId":"4ce7ac988cf6fe12c63778a63458555b","parameters":[{"name":"server","in":"path","description":"ID of the server","required":true,"schema":{"type":"integer","format":"int64"}}],"requestBody":{"required":true,"content":{"application\/json":{"schema":{"required":["name"],"properties":{"name":{"description":"Tag name","type":"string","maxLength":255}},"type":"object"}}}},"responses":{"201":{"description":"Tag created successfully","content":{"application\/json":{"schema":{"$ref":"#\/components\/schemas\/ServerPackageTag"}}}},"403":{"description":"Unauthorized access"},"422":{"description":"Validation error"}},"x-public":true,"x-version":"v2"}},"\/v2\/server\/{server}\/tags\/{tag_name}":{"delete":{"tags":["Server"],"summary":"Remove a server tag","operationId":"c0b3b41316eb12a9be86a0ce26b7b70a","parameters":[{"name":"server","in":"path","description":"ID of the server","required":true,"schema":{"type":"integer","format":"int64"}},{"name":"tag_name","in":"path","description":"Name of the tag to remove","required":true,"schema":{"type":"string"}}],"responses":{"204":{"description":"Tag removed successfully"},"403":{"description":"Unauthorized access or immutable tag"},"404":{"description":"Tag not found"}},"x-public":true,"x-version":"v2"}},"\/v2\/client\/{client_id}\/metadata":{"post":{"tags":["Client"],"summary":"Create metadata","description":"Create metadata for the client","operationId":"createMetadata","parameters":[{"name":"client_id","in":"path","description":"ID of the client","required":true,"schema":{"type":"string"}}],"requestBody":{"description":"Input data format","content":{"application\/x-www-form-urlencoded":{"schema":{"required":["key","value"],"properties":{"key":{"description":"The key for the metadata","type":"string"},"value":{"description":"The value of the metadata","type":"string"},"mutablility":{"description":"The mutability of the metadata","type":"integer","default":1}},"type":"object"}}}},"responses":{"201":{"description":"Metadata created","content":{"application\/json":{"schema":{"$ref":"#\/components\/schemas\/Metadata"}}}},"400":{"description":"Bad request","content":{"application\/json":{"schema":{"$ref":"#\/components\/schemas\/Result"}}}},"403":{"description":"Unauthorized request"},"422":{"description":"Invalid parameters"}},"security":[{"bearerAuth":["clients"]}],"x-public":true,"x-version":"v2"}},"\/v2\/core":{"get":{"tags":["Core"],"summary":"Get all core","description":"Get all cores","operationId":"getCoreList","responses":{"200":{"description":"Images found","content":{"application\/json":{"schema":{"type":"array","items":{"$ref":"#\/components\/schemas\/Core"}}}}},"403":{"description":"Unauthorized request"}},"security":[{"bearerAuth":["cores"]}],"x-public":true,"x-version":"v2"}},"\/v2\/core\/{core_name}":{"get":{"tags":["Core"],"summary":"Get a core","description":"Get a core by name","operationId":"getCore","parameters":[{"name":"core_name","in":"path","description":"Name of core to return","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"Core found","content":{"application\/json":{"schema":{"$ref":"#\/components\/schemas\/Core"}}}},"403":{"description":"Unauthorized request"},"404":{"description":"Core not found"}},"security":[{"bearerAuth":["cores"]}],"x-public":true,"x-version":"v2"}},"\/v2\/event":{"get":{"tags":["EventLog"],"summary":"Get event logs","description":"Get and filter event log list","operationId":"getEventList","parameters":[{"name":"type_id","in":"query","description":"ID of the object of the event","required":false,"schema":{"type":"string"}},{"name":"type","in":"query","description":"The object type of event (Instance, Project)","required":false,"schema":{"type":"string"}},{"name":"start","in":"query","description":"The start time to look back. Defaults to 1 month.","required":false,"schema":{"type":"string"}}],"responses":{"200":{"description":"Events found","content":{"application\/json":{"schema":{"type":"array","items":{"$ref":"#\/components\/schemas\/EventLog"}}}}},"401":{"description":"Unauthenticated"},"403":{"description":"Unauthorized request"},"404":{"description":"Events not found"}},"security":[{"bearerAuth":["events"]}],"x-public":true,"x-version":"v2"}},"\/v2\/event\/{event_id}":{"get":{"tags":["EventLog"],"summary":"Get event log","description":"Get event log by id","operationId":"getEvent","responses":{"200":{"description":"Event found","content":{"application\/json":{"schema":{"$ref":"#\/components\/schemas\/EventLog"}}}},"401":{"description":"Unauthenticated"},"403":{"description":"Unauthorized request"},"404":{"description":"Event not found"}},"security":[{"bearerAuth":["events"]}],"x-public":true,"x-version":"v2"}},"\/v2\/facility":{"get":{"tags":["Facility"],"summary":"Get all facilities","description":"Get all facilities","operationId":"getFacilityList","responses":{"200":{"description":"Facilities found","content":{"application\/json":{"schema":{"type":"array","items":{"$ref":"#\/components\/schemas\/Facility"}}}}},"403":{"description":"Unauthorized request"}},"security":[{"bearerAuth":["facilities"]}],"x-public":true,"x-version":"v2"}},"\/v2\/facility\/{facility_name}":{"get":{"tags":["Facility"],"summary":"Get a facility","description":"Get a facility by name","operationId":"getFacility","parameters":[{"name":"facility_name","in":"path","description":"Name of facility to return","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"Facility found","content":{"application\/json":{"schema":{"$ref":"#\/components\/schemas\/Facility"}}}},"403":{"description":"Unauthorized request"},"404":{"description":"Facility not found"}},"security":[{"bearerAuth":["facilities"]}],"x-public":true,"x-version":"v2"}},"\/v2\/facility\/{facility_name}\/stock":{"get":{"tags":["Facility"],"summary":"Get a facility's stock","description":"Get a facility's stock by name","operationId":"getFacilityStock","parameters":[{"name":"facility_name","in":"path","description":"Name of facility to return stock for","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"Stock found for facility","content":{"application\/json":{"schema":{"$ref":"#\/components\/schemas\/FacilityStock"}}}},"403":{"description":"Unauthorized request"},"404":{"description":"Facility not found"}},"security":[{"bearerAuth":["facilities"]}],"x-public":true,"x-version":"v2"}},"\/v2\/image":{"get":{"tags":["Image"],"summary":"Get all images","description":"Get all images","operationId":"getImageList","responses":{"200":{"description":"Images found","content":{"application\/json":{"schema":{"type":"array","items":{"$ref":"#\/components\/schemas\/Image"}}}}},"403":{"description":"Unauthorized request"}},"security":[{"bearerAuth":["images"]}],"x-public":true}},"\/v2\/image\/{image_name}":{"get":{"tags":["Image"],"summary":"Get an image","description":"Get an image by name","operationId":"getImage","parameters":[{"name":"image_name","in":"path","description":"Name of image to return","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"Image found","content":{"application\/json":{"schema":{"$ref":"#\/components\/schemas\/Image"}}}},"403":{"description":"Unauthorized request"},"404":{"description":"Image not found"}},"security":[{"bearerAuth":["images"]}],"x-public":true,"x-version":"v2"}},"\/v2\/instance":{"get":{"tags":["Instance"],"summary":"Get all instances","description":"Get all instances","operationId":"getInstanceList","parameters":[{"name":"deleted","in":"query","description":"Include deleted instances","schema":{"type":"boolean"}},{"name":"project_id","in":"query","description":"ID of project to filter by","required":false,"schema":{"type":"string"}}],"responses":{"200":{"description":"Instances found","content":{"application\/json":{"schema":{"type":"array","items":{"$ref":"#\/components\/schemas\/Instance"}}}}},"403":{"description":"Unauthorized request"}},"security":[{"bearerAuth":["projects"]}],"x-public":true,"x-version":"v2"},"post":{"tags":["Instance"],"summary":"Create an instance","description":"Create a server based on the given options","operationId":"storeInstance","parameters":[{"name":"wait","in":"query","description":"Whether to wait for the result of the call","required":false,"schema":{"type":"boolean"}}],"requestBody":{"description":"Input data format","content":{"application\/x-www-form-urlencoded":{"schema":{"$ref":"#\/components\/schemas\/ServerCreate"}}}},"responses":{"201":{"description":"server create","content":{"application\/json":{"schema":{"$ref":"#\/components\/schemas\/Job"}}}},"400":{"description":"Bad request"},"401":{"description":"Unauthorized request"},"403":{"description":"Forbidden request"},"422":{"description":"Invalid parameters","content":{"application\/json":{"schema":{"$ref":"#\/components\/schemas\/ServerCreateValidationErrorResponse"}}}}},"security":[{"bearerAuth":["projects"]}],"x-public":true,"x-version":"v2"}},"\/v2\/instance\/{instance_id}":{"get":{"tags":["Instance"],"summary":"Get an instance","description":"Get an instance by ID","operationId":"getInstance","parameters":[{"name":"instance_id","in":"path","description":"ID of instance to return","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"Instance found","content":{"application\/json":{"schema":{"$ref":"#\/components\/schemas\/Instance"}}}},"403":{"description":"Unauthorized request"},"404":{"description":"Instance not found"}},"security":[{"bearerAuth":["projects"]}],"x-public":true,"x-version":"v2"},"put":{"tags":["Instance"],"summary":"Reload an instance","description":"Reload a server based on the given options","operationId":"reloadInstance","parameters":[{"name":"instance_id","in":"path","description":"ID of instance","required":true,"schema":{"type":"string"}},{"name":"wait","in":"query","description":"Whether to wait for the result of the call","required":false,"schema":{"type":"boolean"}}],"requestBody":{"description":"Input data format","content":{"application\/x-www-form-urlencoded":{"schema":{"$ref":"#\/components\/schemas\/ServerCreate"}}}},"responses":{"201":{"description":"server reload","content":{"application\/json":{"schema":{"$ref":"#\/components\/schemas\/Job"}}}},"400":{"description":"Bad request"},"401":{"description":"Unauthorized request"},"403":{"description":"Forbidden request"},"422":{"description":"Invalid parameters","content":{"application\/json":{"schema":{"$ref":"#\/components\/schemas\/ServerCreateValidationErrorResponse"}}}}},"security":[{"bearerAuth":["projects"]}],"x-public":true,"x-version":"v2"},"delete":{"tags":["Instance"],"summary":"Delete an instance","description":"Delete an instance. This will cancel the instance","operationId":"deleteInstance","parameters":[{"name":"instance_id","in":"path","description":"ID of instance","required":true,"schema":{"type":"string"}},{"name":"wait","in":"query","description":"Whether to wait for the result of the call","required":false,"schema":{"type":"boolean"}}],"responses":{"202":{"description":"Server deleted","content":{"application\/json":{"schema":{"$ref":"#\/components\/schemas\/Job"}}}},"500":{"description":"Error on delete","content":{"application\/json":{"schema":{"$ref":"#\/components\/schemas\/Result"}}}},"401":{"description":"Unauthorized request"},"403":{"description":"Forbidden request"},"404":{"description":"Instance not found"}},"security":[{"bearerAuth":["projects"]}],"x-public":true,"x-version":"v2"}},"\/v2\/instance\/{instance_id}\/subnet":{"get":{"tags":["Instance"],"summary":"Get an instance's IP subnets","description":"Get an instance's IP subnets","operationId":"getInstanceIPSubnets","parameters":[{"name":"instance_id","in":"path","description":"ID of instance to query","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"Instance subnets found","content":{"application\/json":{"schema":{"type":"array","items":{"$ref":"#\/components\/schemas\/IpBlock"}}}}},"403":{"description":"Unauthorized request"},"404":{"description":"Instance ips not found"}},"security":[{"bearerAuth":["projects"]}],"x-public":true,"x-version":"v2"},"post":{"tags":["Instance"],"summary":"Assign an IP subnet to an instance","description":"Assign an IP subnet to an instance","operationId":"assignIPSubnet","parameters":[{"name":"instance_id","in":"path","description":"ID of instance to use","required":true,"schema":{"type":"string"}},{"name":"subnet","in":"path","description":"IP subnet to assign","required":true,"schema":{"type":"string"}}],"responses":{"201":{"description":"IP Assigned","content":{"application\/json":{"schema":{"$ref":"#\/components\/schemas\/Job"}}}},"400":{"description":"Bad request","content":{"application\/json":{"schema":{"$ref":"#\/components\/schemas\/Result"}}}},"403":{"description":"Unauthorized request"},"422":{"description":"Invalid parameters"}},"security":[{"bearerAuth":["projects"]}],"x-public":true,"x-version":"v2"},"delete":{"tags":["Instance"],"summary":"Remove an IP subnet from an instance","description":"Remove an IP subnet from an instance","operationId":"deassignIPSubnet","parameters":[{"name":"instance_id","in":"path","description":"ID of instance to use","required":true,"schema":{"type":"string"}},{"name":"subnet","in":"path","description":"IP subnet to delete","required":true,"schema":{"type":"string"}}],"responses":{"202":{"description":"IP deassign","content":{"application\/json":{"schema":{"$ref":"#\/components\/schemas\/Job"}}}},"400":{"description":"Bad request","content":{"application\/json":{"schema":{"$ref":"#\/components\/schemas\/Result"}}}},"403":{"description":"Unauthorized request"},"422":{"description":"Invalid parameters"}},"security":[{"bearerAuth":["projects"]}],"x-public":true,"x-version":"v2"}},"\/v2\/instance\/{instance_id}\/metadata":{"get":{"tags":["Instance"],"summary":"Get all metadata","description":"Get all metadata for an instance","operationId":"getMetadata","parameters":[{"name":"instance_id","in":"path","description":"ID of the instance","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"Metadata found","content":{"application\/json":{"schema":{"type":"array","items":{"$ref":"#\/components\/schemas\/Metadata"}}}}},"403":{"description":"Unauthorized request"}},"security":[{"bearerAuth":["projects"]}],"x-public":true,"x-version":"v2"},"post":{"tags":["Instance"],"summary":"Create metadata","description":"Create metadata for the instance","operationId":"createMetadata","parameters":[{"name":"instance_id","in":"path","description":"ID of the instance","required":true,"schema":{"type":"string"}}],"requestBody":{"description":"Input data format","content":{"application\/x-www-form-urlencoded":{"schema":{"required":["key","value"],"properties":{"key":{"description":"The key for the metadata","type":"string"},"value":{"description":"The value of the metadata","type":"string"},"mutablility":{"description":"The mutability of the metadata","type":"integer","default":1}},"type":"object"}}}},"responses":{"201":{"description":"Metadata created","content":{"application\/json":{"schema":{"$ref":"#\/components\/schemas\/Metadata"}}}},"400":{"description":"Bad request","content":{"application\/json":{"schema":{"$ref":"#\/components\/schemas\/Result"}}}},"403":{"description":"Unauthorized request"},"422":{"description":"Invalid parameters"}},"security":[{"bearerAuth":["projects"]}],"x-public":true,"x-version":"v2"}},"\/v2\/instance\/{instance_id}\/metadata\/{key}":{"put":{"tags":["Instance"],"summary":"Update metadata","description":"Update metadata for the instance","operationId":"updateMetadata","parameters":[{"name":"instance_id","in":"path","description":"ID of the instance","required":true,"schema":{"type":"string"}},{"name":"key","in":"path","description":"The key to update","required":true,"schema":{"type":"string"}}],"requestBody":{"description":"Input data format","content":{"application\/x-www-form-urlencoded":{"schema":{"required":["value"],"properties":{"value":{"description":"The value of the metadata","type":"string"},"mutablility":{"description":"The mutability of the metadata","type":"integer","default":1}},"type":"object"}}}},"responses":{"200":{"description":"Metadata updated","content":{"application\/json":{"schema":{"$ref":"#\/components\/schemas\/Metadata"}}}},"400":{"description":"Bad request","content":{"application\/json":{"schema":{"$ref":"#\/components\/schemas\/Result"}}}},"403":{"description":"Unauthorized request"}},"security":[{"bearerAuth":["projects"]}],"x-public":true,"x-version":"v2"},"delete":{"tags":["Instance"],"summary":"Delete metadata","description":"Delete metadata from an instance","operationId":"deleteMetadata","parameters":[{"name":"instance_id","in":"path","description":"ID of the instance","required":true,"schema":{"type":"string"}},{"name":"key","in":"path","description":"The key to delete","required":true,"schema":{"type":"string"}}],"responses":{"202":{"description":"Metadata deleted","content":{"application\/json":{"schema":{"$ref":"#\/components\/schemas\/Result"}}}},"400":{"description":"Bad request","content":{"application\/json":{"schema":{"$ref":"#\/components\/schemas\/Result"}}}},"403":{"description":"Unauthorized request"}},"security":[{"bearerAuth":["projects"]}],"x-public":true,"x-version":"v2"}},"\/v2\/instance\/{instance_id}\/tag":{"get":{"tags":["Instance"],"summary":"Get all tags","description":"Get all tags for an instance","operationId":"getTags","parameters":[{"name":"instance_id","in":"path","description":"ID of the instance","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"Tags found","content":{"application\/json":{"schema":{"type":"array","items":{"type":"string"}}}}},"403":{"description":"Unauthorized request"}},"security":[{"bearerAuth":["projects"]}],"x-public":true,"x-version":"v2"},"post":{"tags":["Instance"],"summary":"Create tag","description":"Create tag for the instance","operationId":"createTag","parameters":[{"name":"instance_id","in":"path","description":"ID of the instance","required":true,"schema":{"type":"string"}}],"requestBody":{"description":"Input data format","content":{"application\/x-www-form-urlencoded":{"schema":{"required":["tag"],"properties":{"tag":{"description":"The tag to add","type":"string"}},"type":"object"}}}},"responses":{"201":{"description":"Tag created","content":{"application\/json":{"schema":{"type":"array","items":{"type":"string"}}}}},"400":{"description":"Bad request","content":{"application\/json":{"schema":{"$ref":"#\/components\/schemas\/Result"}}}},"403":{"description":"Unauthorized request"},"422":{"description":"Invalid parameters"}},"security":[{"bearerAuth":["projects"]}],"x-public":true,"x-version":"v2"}},"\/v2\/instance\/{instance_id}\/tag\/{tag}":{"delete":{"tags":["Instance"],"summary":"Delete tag","description":"Delete tag from an instance","operationId":"deleteTag","parameters":[{"name":"instance_id","in":"path","description":"ID of the instance","required":true,"schema":{"type":"string"}},{"name":"tag","in":"path","description":"The tag to remove","required":true,"schema":{"type":"string"}}],"responses":{"202":{"description":"Tag deleted","content":{"application\/json":{"schema":{"$ref":"#\/components\/schemas\/Result"}}}},"400":{"description":"Bad request","content":{"application\/json":{"schema":{"$ref":"#\/components\/schemas\/Result"}}}},"403":{"description":"Unauthorized request"}},"security":[{"bearerAuth":["projects"]}],"x-public":true,"x-version":"v2"}},"\/v2\/instance\/find_by_create_job\/{job_id}":{"get":{"tags":["Instance"],"summary":"Get an instance by create Job","description":"Get an instance by create job ID","operationId":"getInstanceByCreateJob","parameters":[{"name":"job_id","in":"path","description":"ID of instance to return","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"Instance found","content":{"application\/json":{"schema":{"$ref":"#\/components\/schemas\/Instance"}}}},"403":{"description":"Unauthorized request"},"404":{"description":"Instance not found"}},"security":[{"bearerAuth":["projects"]}],"x-public":true,"x-version":"v2"}},"\/v2\/instance\/{instance_id}\/start":{"put":{"tags":["Instance"],"summary":"Start Instance","description":"Send power on command to instance","operationId":"startInstance","parameters":[{"name":"instance_id","in":"path","description":"ID of instance to start","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"Start command processed","content":{"application\/json":{"schema":{"$ref":"#\/components\/schemas\/Result"}}}},"401":{"description":"Unauthorized request"},"403":{"description":"Forbidden request"},"404":{"description":"Instance not found"}},"security":[{"bearerAuth":["projects"]}],"x-public":true,"x-version":"v2"}},"\/v2\/instance\/{instance_id}\/stop":{"put":{"tags":["Instance"],"summary":"Stop Instance","description":"Send power off command to instance","operationId":"stopInstance","parameters":[{"name":"instance_id","in":"path","description":"ID of instance to stop","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"Stop command processed","content":{"application\/json":{"schema":{"$ref":"#\/components\/schemas\/Result"}}}},"401":{"description":"Unauthorized request"},"403":{"description":"Forbidden request"},"404":{"description":"Instance not found"}},"security":[{"bearerAuth":["projects"]}],"x-public":true,"x-version":"v2"}},"\/v2\/instance\/{instance_id}\/restart":{"put":{"tags":["Instance"],"summary":"Restart Instance","description":"Send power restart command to instance","operationId":"restartInstance","parameters":[{"name":"instance_id","in":"path","description":"ID of instance to restart","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"Restart command processed","content":{"application\/json":{"schema":{"$ref":"#\/components\/schemas\/Result"}}}},"401":{"description":"Unauthorized request"},"403":{"description":"Forbidden request"},"404":{"description":"Instance not found"}},"security":[{"bearerAuth":["projects"]}],"x-public":true,"x-version":"v2"}},"\/v2\/instance\/{instance_id}\/power":{"get":{"tags":["Instance"],"summary":"Get instance power status","description":"Get instance power status","operationId":"instancePowerStatus","parameters":[{"name":"instance_id","in":"path","description":"ID of instance to get power status of","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"Power status","content":{"application\/json":{"schema":{"$ref":"#\/components\/schemas\/Result"}}}},"401":{"description":"Unauthorized request"},"403":{"description":"Forbidden request"},"404":{"description":"Instance not found"}},"security":[{"bearerAuth":["projects"]}],"x-public":true,"x-version":"v2"}},"\/v2\/job\/{job_id}":{"get":{"tags":["Job"],"summary":"Get a job","description":"Get a job by ID","operationId":"getJob","parameters":[{"name":"job_id","in":"path","description":"ID of job to return","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"Job found","content":{"application\/json":{"schema":{"$ref":"#\/components\/schemas\/Job"}}}},"401":{"description":"Unauthenticated"},"403":{"description":"Unauthorized request"},"404":{"description":"Job not found"}},"security":[{"bearerAuth":["jobs"]}],"x-public":true,"x-version":"v2"}},"\/v2\/job\/history":{"get":{"tags":["Job"],"summary":"Get job history for object","description":"Get a job history","operationId":"getJobHistory","parameters":[{"name":"object_id","in":"query","description":"ID of the object","required":true,"schema":{"type":"string"}},{"name":"object_type","in":"query","description":"The type of the object","required":true,"schema":{"type":"string"}},{"name":"start","in":"query","description":"The start time to look back. Defaults to 1 month.","required":false,"schema":{"type":"string"}}],"responses":{"200":{"description":"Jobs found","content":{"application\/json":{"schema":{"type":"array","items":{"$ref":"#\/components\/schemas\/Job"}}}}},"401":{"description":"Unauthenticated"},"403":{"description":"Unauthorized request"},"404":{"description":"Jobs not found"}},"security":[{"bearerAuth":["jobs"]}],"x-public":true,"x-version":"v2"}},"\/v2\/project":{"get":{"tags":["Project"],"summary":"Get all projects","description":"Get all projects","operationId":"getProjectList","parameters":[{"name":"include_quotas","in":"query","description":"Whether to include quotas for the projects","required":false,"schema":{"type":"boolean"}},{"name":"show_all","in":"query","description":"Whether to load ALL projects (ADMIN)","required":false,"schema":{"type":"boolean"},"x-public":false}],"responses":{"200":{"description":"Projects found","content":{"application\/json":{"schema":{"type":"array","items":{"$ref":"#\/components\/schemas\/Project"}}}}},"401":{"description":"Unauthorized request"},"403":{"description":"Forbidden request"}},"security":[{"bearerAuth":["projects"]}],"x-public":true,"x-version":"v2"},"post":{"tags":["Project"],"summary":"Create a project","description":"Create a project based on the given options","operationId":"storeProject","requestBody":{"description":"Input data format","content":{"application\/x-www-form-urlencoded":{"schema":{"properties":{"name":{"description":"Project friendly display name","type":"string"}},"type":"object"}}}},"responses":{"201":{"description":"Project created","content":{"application\/json":{"schema":{"$ref":"#\/components\/schemas\/Project"}}}},"400":{"description":"Bad request","content":{"application\/json":{"schema":{"$ref":"#\/components\/schemas\/Result"}}}},"401":{"description":"Unauthorized request"},"403":{"description":"Forbidden request"},"422":{"description":"Invalid parameters"}},"security":[{"bearerAuth":["projects"]}],"x-public":true,"x-version":"v2"}},"\/v2\/project\/{project_id}":{"get":{"tags":["Project"],"summary":"Get a project","description":"Get a project by ID","operationId":"getProject","parameters":[{"name":"project_id","in":"path","description":"ID of project to return","required":true,"schema":{"type":"string"}},{"name":"include_quotas","in":"query","description":"Whether to include quotas for the projects","required":false,"schema":{"type":"boolean"}}],"responses":{"200":{"description":"Project found","content":{"application\/json":{"schema":{"$ref":"#\/components\/schemas\/Project"}}}},"401":{"description":"Unauthorized request"},"403":{"description":"Forbidden request"},"404":{"description":"Project not found"}},"security":[{"bearerAuth":["projects"]}],"x-public":true,"x-version":"v2"},"delete":{"tags":["Project"],"summary":"Delete a project","description":"Delete a project by ID. All dependent resources must be deleted prior.","operationId":"deleteProject","parameters":[{"name":"project_id","in":"path","description":"ID of project to delete","required":true,"schema":{"type":"string"}}],"responses":{"202":{"description":"Delete successful"},"500":{"description":"Error on delete","content":{"application\/json":{"schema":{"$ref":"#\/components\/schemas\/Result"}}}},"400":{"description":"Problem on delete","content":{"application\/json":{"schema":{"$ref":"#\/components\/schemas\/Result"}}}},"401":{"description":"Unauthorized request"},"403":{"description":"Forbidden request"},"404":{"description":"Project not found"}},"security":[{"bearerAuth":["projects"]}],"x-public":true,"x-version":"v2"}},"\/v2\/project\/{project_id}\/status":{"put":{"tags":["Project"],"summary":"Update a project status","description":"Update a project status by ID.","operationId":"updateProjectStatus","parameters":[{"name":"project_id","in":"path","description":"ID of project to update","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"Update successful"},"500":{"description":"Error on update","content":{"application\/json":{"schema":{"$ref":"#\/components\/schemas\/Result"}}}},"400":{"description":"Problem on update","content":{"application\/json":{"schema":{"$ref":"#\/components\/schemas\/Result"}}}},"422":{"description":"Invalid status sent","content":{"application\/json":{"schema":{"$ref":"#\/components\/schemas\/Result"}}}},"401":{"description":"Unauthorized request"},"403":{"description":"Forbidden request"},"404":{"description":"Project not found"}},"security":[{"bearerAuth":["projects"]}],"x-public":true,"x-version":"v2"}},"\/v2\/project\/{project_id}\/quotas":{"get":{"tags":["Project"],"summary":"Get a project's quotas","description":"Get a project's quotas by ID","operationId":"getProjectQuotas","parameters":[{"name":"project_id","in":"path","description":"ID of project to return quotas for","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"Quotas found for project","content":{"application\/json":{"schema":{"$ref":"#\/components\/schemas\/ProjectQuotas"}}}},"401":{"description":"Unauthorized request"},"403":{"description":"Forbidden request"},"404":{"description":"Project not found"}},"security":[{"bearerAuth":["projects"]}],"x-public":true,"x-version":"v2"}},"\/v2\/project\/{project_id}\/server":{"get":{"tags":["Project"],"summary":"Get a project's instances","description":"Get a project's instances","operationId":"getProjectServers","parameters":[{"name":"project_id","in":"path","description":"ID of project to return servers for","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"Instance list found","content":{"application\/json":{"schema":{"type":"array","items":{"$ref":"#\/components\/schemas\/Instance"}}}}},"401":{"description":"Unauthorized request"},"403":{"description":"Forbidden request"},"404":{"description":"Project not found"}},"security":[{"bearerAuth":["projects"]}],"x-public":true,"x-version":"v2"},"post":{"tags":["Project"],"summary":"Add a server to a project","description":"Create a server based on the given options","operationId":"storeProjectServer","parameters":[{"name":"project_id","in":"path","description":"ID of project to use","required":true,"schema":{"type":"string"}},{"name":"wait","in":"query","description":"Whether to wait for the result of the call","required":false,"schema":{"type":"boolean"}}],"requestBody":{"description":"Input data format","content":{"application\/x-www-form-urlencoded":{"schema":{"$ref":"#\/components\/schemas\/ServerCreate"}}}},"responses":{"201":{"description":"server create","content":{"application\/json":{"schema":{"$ref":"#\/components\/schemas\/Job"}}}},"400":{"description":"Bad request"},"401":{"description":"Unauthorized request"},"403":{"description":"Forbidden request"},"422":{"description":"Invalid parameters","content":{"application\/json":{"schema":{"$ref":"#\/components\/schemas\/ServerCreateValidationErrorResponse"}}}}},"security":[{"bearerAuth":["projects"]}],"x-public":true,"x-version":"v2"}},"\/v2\/project\/{project_id}\/server\/{server_id}":{"post":{"tags":["Project"],"summary":"Associate a server with a project","description":"Associate a server with a project","operationId":"associateProjectServer","parameters":[{"name":"project_id","in":"path","description":"ID of project to use","required":true,"schema":{"type":"string"}}],"requestBody":{"description":"Input data format","content":{"application\/x-www-form-urlencoded":{"schema":{"properties":{"server_id":{"description":"The server_id to associate","type":"string"}},"type":"object"}}}},"responses":{"201":{"description":"Server successfully associated with project","content":{"application\/json":{"schema":{"$ref":"#\/components\/schemas\/Result"}}}},"400":{"description":"Bad request \/ Server not eligible to be assigned to a project","content":{"application\/json":{"schema":{"$ref":"#\/components\/schemas\/Result"}}}},"401":{"description":"Unauthorized request"},"403":{"description":"Forbidden request"},"422":{"description":"Invalid parameters"}},"security":[{"bearerAuth":["projects"]}],"x-public":true,"x-version":"v2"},"delete":{"tags":["Project"],"summary":"Delete a project's server","description":"Delete a project's server by ID. This will cancel the instance","operationId":"deleteProjectServer","parameters":[{"name":"project_id","in":"path","description":"ID of project","required":true,"schema":{"type":"string"}},{"name":"server_id","in":"path","description":"ID of the server to delete","required":true,"schema":{"type":"string"}},{"name":"wait","in":"query","description":"Whether to wait for the result of the call","required":false,"schema":{"type":"boolean"}}],"responses":{"202":{"description":"Server deleted","content":{"application\/json":{"schema":{"$ref":"#\/components\/schemas\/Job"}}}},"500":{"description":"Error on delete","content":{"application\/json":{"schema":{"$ref":"#\/components\/schemas\/Result"}}}},"401":{"description":"Unauthorized request"},"403":{"description":"Forbidden request"},"404":{"description":"Project\/Server not found"}},"security":[{"bearerAuth":["projects"]}],"x-public":true,"x-version":"v2"}},"\/v2\/project\/{project_id}\/subnet":{"get":{"tags":["Project"],"summary":"Get an project's IP subnets","description":"Get an project's IP subnets","operationId":"getProjectIPSubnets","parameters":[{"name":"project_id","in":"path","description":"ID of the project to query","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"Project subnets found","content":{"application\/json":{"schema":{"type":"array","items":{"$ref":"#\/components\/schemas\/IpBlock"}}}}},"403":{"description":"Unauthorized request"},"404":{"description":"Project ips not found"}},"security":[{"bearerAuth":["projects"]}],"x-public":true,"x-version":"v2"},"delete":{"tags":["Project"],"summary":"Release an IP subnet from a project","description":"Release an IP subnet from a project","operationId":"deallocateIPSubnet","parameters":[{"name":"project_id","in":"path","description":"Project ID that the prefix is allocated to","required":true,"schema":{"type":"string"}},{"name":"subnet","in":"path","description":"IP subnet","required":true,"schema":{"type":"string"}}],"requestBody":{"description":"Input data format","content":{"application\/x-www-form-urlencoded":{"schema":{"required":["prefix"],"properties":{"prefix":{"description":"IP prefix to release","type":"string"}},"type":"object"}}}},"responses":{"202":{"description":"IP Prefix Deallocated","content":{"application\/json":{"schema":{"$ref":"#\/components\/schemas\/Result"}}}},"400":{"description":"Bad request","content":{"application\/json":{"schema":{"$ref":"#\/components\/schemas\/Result"}}}},"403":{"description":"Unauthorized request"},"422":{"description":"Invalid parameters"}},"security":[{"bearerAuth":["projects"]}],"x-public":true,"x-version":"v2"}},"\/v2\/project\/{project_id}\/threshold":{"get":{"tags":["Project"],"summary":"Get a project's billing threshold","description":"Get a project's billing threshold","operationId":"getProjectBillingThreshold","parameters":[{"name":"project_id","in":"path","description":"ID of project to return threshold for","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"Threshold found","content":{"application\/json":{"schema":{"$ref":"#\/components\/schemas\/Threshold"}}}},"401":{"description":"Unauthorized request"},"403":{"description":"Forbidden request"},"404":{"description":"Project not found"}},"security":[{"bearerAuth":["projects"]}],"x-public":true,"x-version":"v2"}},"\/v2\/project\/{project_id}\/billing":{"get":{"tags":["Project"],"summary":"Get a project's billing history","description":"Get a project's billing history","operationId":"getProjectBilling","parameters":[{"name":"project_id","in":"path","description":"ID of project to return billing history for","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"Billing list found","content":{"application\/json":{"schema":{"type":"array","items":{"$ref":"#\/components\/schemas\/Invoice"}}}}},"401":{"description":"Unauthorized request"},"403":{"description":"Forbidden request"},"404":{"description":"Project not found"}},"security":[{"bearerAuth":["projects"]}],"x-public":true,"x-version":"v2"}},"\/v2\/sshkey":{"get":{"tags":["SSHKey"],"summary":"Get all ssh keys","description":"Get all ssh keys","operationId":"getSSHKeyList","responses":{"200":{"description":"Keys found","content":{"application\/json":{"schema":{"properties":{"keys":{"type":"array","items":{"$ref":"#\/components\/schemas\/SSHKey"}}},"type":"object"}}}},"403":{"description":"Unauthorized request"}},"security":[{"bearerAuth":["ssh-key-management"]}],"x-public":true,"x-version":"v2"},"post":{"tags":["SSHKey"],"summary":"Create an ssh public key","description":"Create an ssh public key based on the given options","operationId":"storeSSHKey","requestBody":{"description":"Input data format","content":{"application\/x-www-form-urlencoded":{"schema":{"required":["name","pubkey"],"properties":{"name":{"description":"The name of the sshkey","type":"string"},"pubkey":{"description":"The public key","type":"string"},"comment":{"description":"The comment for the key. Can also be included with the pubkey.","type":"string"}},"type":"object"}}}},"responses":{"201":{"description":"SSH Key created","content":{"application\/json":{"schema":{"$ref":"#\/components\/schemas\/SSHKey"}}}},"400":{"description":"Bad request","content":{"application\/json":{"schema":{"$ref":"#\/components\/schemas\/Result"}}}},"403":{"description":"Unauthorized request"},"422":{"description":"Invalid parameters","content":{"application\/json":{"schema":{"$ref":"#\/components\/schemas\/Result"}}}},"500":{"description":"There was an error creating the ssh key","content":{"application\/json":{"schema":{"$ref":"#\/components\/schemas\/Result"}}}}},"security":[{"bearerAuth":["ssh-key-management"]}],"x-public":true,"x-version":"v2"}},"\/v2\/sshkey\/{name}":{"get":{"tags":["SSHKey"],"summary":"Get an ssh key","description":"Get an ssh key","operationId":"getSSHKey","parameters":[{"name":"name","in":"path","description":"Name of ssh key to show","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"Key found","content":{"application\/json":{"schema":{"$ref":"#\/components\/schemas\/SSHKey"}}}},"403":{"description":"Unauthorized request"}},"security":[{"bearerAuth":["ssh-key-management"]}],"x-public":true,"x-version":"v2"},"delete":{"tags":["SSHKey"],"summary":"Delete an ssh key","description":"Delete an ssh key","operationId":"deleteSSHKey","parameters":[{"name":"name","in":"path","description":"Name of ssh key to delete","required":true,"schema":{"type":"string"}}],"responses":{"202":{"description":"Delete successful"},"403":{"description":"Unauthorized request"},"422":{"description":"Invalid parameters","content":{"application\/json":{"schema":{"$ref":"#\/components\/schemas\/Result"}}}},"500":{"description":"There was an error deleting the ssh key","content":{"application\/json":{"schema":{"$ref":"#\/components\/schemas\/Result"}}}}},"security":[{"bearerAuth":["ssh-key-management"]}],"x-public":true,"x-version":"v2"}},"\/v2\/current_user":{"get":{"tags":["User"],"summary":"Get user","description":"Get a user by ID","operationId":"getCurrentUser","responses":{"200":{"description":"User found","content":{"application\/json":{"schema":{"$ref":"#\/components\/schemas\/User"}}}},"403":{"description":"Unauthorized request"},"404":{"description":"User not found"}},"security":[{"bearerAuth":["users"]}],"x-public":true,"x-version":"v2"}},"\/v2\/user\/can_create_project":{"get":{"tags":["User"],"summary":"Can Create Project?","description":"Check whether your user has the ability to create more bare metal cloud projects.","operationId":"canCreateProject","responses":{"200":{"description":"Can create projects","content":{"application\/json":{"schema":{"$ref":"#\/components\/schemas\/Result"}}}},"403":{"description":"Cannot create projects","content":{"application\/json":{"schema":{"$ref":"#\/components\/schemas\/Result"}}}},"401":{"description":"Unauthorized request"}},"security":[{"bearerAuth":["projects"]}],"x-public":true,"x-version":"v2"}}},"components":{"schemas":{"Invoice":{"description":"Class Billing","properties":{"id":{"description":"The id of the invoice","type":"string"},"timestamp":{"description":"The timestamp of the invoice","type":"string"},"type":{"description":"The type of invoice (Credit, Debit)","type":"string"},"status":{"description":"The status","type":"string"},"description":{"description":"The description","type":"string"},"amount":{"description":"The total amount of the invoice","type":"string"},"forpackage":{"description":"The package associated with the invoice","type":"string"},"forinvoice":{"description":"The invoice associated with the invoice in the case of a Credit","type":"string"}},"type":"object","x-public":true},"Threshold":{"description":"Class BillingThreshold","properties":{"threshold_dollars":{"description":"The dollar threshold","type":"string"},"threshold_days":{"description":"The day threshold","type":"string"},"estimate_days":{"description":"The estimated days before billing","type":"string"},"avg_usage":{"description":"The avg usage","type":"string"},"usage_days":{"description":"The number of days since last billing","type":"string"},"usage_dollars":{"description":"The number of dollars since last billing","type":"string"},"last_billed":{"description":"The time of last billing","type":"string"}},"type":"object","x-public":true,"x-version":"v2"},"EventLog":{"description":"Class EventLog","properties":{"uuid":{"description":"The uuid of the event","type":"string"},"event":{"description":"The type of the event","type":"string"},"created_at":{"description":"The timestamp of the event","type":"string"},"message":{"description":"The message","type":"string"},"username":{"description":"The user who caused this event","type":"string"},"data":{"description":"The data in json format","type":"string"}},"type":"object","x-public":true,"x-version":"v2"},"Instance":{"description":"Class Instance","properties":{"uuid":{"description":"The resource uuid","type":"string"},"short_uuid":{"description":"The resource short uuid","type":"string"},"name":{"description":"The display name for the instance","type":"string"},"hostname":{"description":"The host name for the instance","type":"string"},"server_id":{"description":"The server_id for the instance","type":"string"},"project_id":{"description":"The project_id for the instance","type":"string"},"status":{"description":"The status of the instance","type":"string"},"management_ip":{"description":"The management IP of the instance","type":"string"},"provision_date":{"description":"The date that the instance was provisioned","type":"string"},"create_job":{"description":"The job id for the create job of this instance","type":"string"},"item_type":{"description":"The type of the item (instance)","type":"string"},"ipmi_link":{"description":"Link to IPMI","type":"string"},"core":{"$ref":"#\/components\/schemas\/Core"},"facility":{"$ref":"#\/components\/schemas\/Facility"},"metadata":{"type":"array","items":{"$ref":"#\/components\/schemas\/Metadata"}},"tags":{"type":"array","items":{"type":"string"}},"ip_subnets":{"type":"array","items":{"$ref":"#\/components\/schemas\/IpBlock"}},"latest_provision":{"type":"array","items":{"$ref":"#\/components\/schemas\/EventLog"}},"net_interfaces":{"type":"array","items":{"$ref":"#\/components\/schemas\/NetInterface"}},"image":{"$ref":"#\/components\/schemas\/Image"}},"type":"object","x-public":true,"x-version":"v2"},"IpBlock":{"description":"Class IpAddressGroup","properties":{"block":{"description":"Network with CIDR","type":"string","format":"cidr_network"},"network":{"description":"Network address of subnet","type":"string"},"cidr":{"description":"The CIDR of the subnet","type":"integer"},"netmask":{"description":"Netmask of the subnet","type":"string"},"device":{"description":"Device the subnet is allocated to","type":"string"},"created_at":{"description":"Create timestamp of IP block allocation","type":"string","format":"date-time"},"network_type":{"description":"The type of network","type":"string","enum":["public","private"]},"assignment_type":{"nullable":true,"description":"Assignment type of the subnet","type":"string","enum":["direct","floating"]}},"type":"object","x-public":true,"x-version":"v2"},"Core":{"description":"Class PlanCore","properties":{"id":{"description":"Core ID","type":"string","example":"bm1.e1230v1.1"},"name":{"description":"Core Name","type":"string","example":"Intel Xeon E3-1230"},"rate":{"description":"Billing rate of the core","type":"number","format":"float"},"interval":{"description":"Billing interval of the core","type":"string","example":"hourly"},"description":{"description":"Core Description","type":"string"},"default_disk":{"description":"Default os disk","type":"string"},"metadata":{"type":"array","items":{"$ref":"#\/components\/schemas\/Metadata"}}},"type":"object","x-public":true},"NetInterface":{"description":"Class ServerNic","properties":{"interface_number":{"description":"The interface number","type":"integer"},"macaddress":{"description":"The mac address","type":"string"},"interface_type":{"description":"The interface type","type":"string"},"ip_blocks":{"description":"The IP blocks associated with this interface","type":"array","items":{"type":"string"}}},"type":"object","x-public":true,"x-version":"v2"},"Facility":{"description":"Class Facility","properties":{"facility_name":{"description":"The facility name","type":"string"},"facility_title":{"description":"The title of the facility","type":"string"},"facility_description":{"description":"The descriptions of the facility","type":"string"}},"type":"object","x-public":true},"Metadata":{"description":"GenericMetadata","properties":{"key":{"description":"The metadata key","type":"string"},"value":{"description":"The metadata value","type":"string"}},"type":"object","x-public":true},"Job":{"description":"Job","properties":{"created_at":{"description":"The create time","type":"string"},"update_at":{"description":"The update time","type":"string"},"status":{"description":"The status","type":"string"},"name":{"description":"The name","type":"string"},"job_identifier":{"description":"The job identifier","type":"string"},"display_name":{"description":"The display name","type":"string"},"metadata":{"type":"array","items":{"$ref":"#\/components\/schemas\/Metadata"}},"statuses":{"type":"array","items":{"$ref":"#\/components\/schemas\/JobStatus"}}},"type":"object","x-public":true,"x-version":"v2"},"JobStatus":{"description":"JobStatus","properties":{"created_at":{"description":"The create time of this update","type":"string"},"update_time":{"description":"The update time of this update","type":"string"},"job_type":{"description":"The type of job","type":"string"},"status":{"description":"The status of this update","type":"string"},"metadata":{"type":"array","items":{"$ref":"#\/components\/schemas\/Metadata"}}},"type":"object","x-public":true,"x-version":"v2"},"ServerPackageTag":{"title":"Server Package Tag","description":"Server Package tag","required":["name"],"properties":{"name":{"description":"The name of the tag","type":"string"}},"type":"object","x-public":true},"Project":{"description":"Class Project","properties":{"uuid":{"description":"The resource uuid","type":"string"},"short_uuid":{"description":"The resource short uuid","type":"string"},"project_id":{"description":"The project ID","type":"string"},"name":{"description":"The display name for the project","type":"string"},"item_type":{"description":"The type of the item (project)","type":"string"},"create_date":{"description":"The date the project was created","type":"string"},"quotas":{"$ref":"#\/components\/schemas\/ProjectQuotas"}},"type":"object","x-public":true,"x-version":"v2"},"Image":{"description":"ProvisionImage","properties":{"name":{"description":"The image name","type":"string"},"displayname":{"description":"The display name for the image","type":"string"}},"type":"object","x-public":true},"SSHKey":{"description":"SSHKey","properties":{"id":{"description":"The id of the ssh key","type":"string"},"name":{"description":"The name of the ssh key","type":"string"},"fingerprint":{"description":"The fingerprint for this ssh pub key","type":"string"},"comment":{"description":"The comment for the pub key","type":"string"}},"type":"object","x-public":true},"User":{"description":"Class User","properties":{"id":{"description":"The user id","type":"number"},"client_id":{"description":"The client the user belongs to","type":"number"},"firstname":{"description":"The user's first name","type":"string"},"lastname":{"description":"The user's last name","type":"string"},"username":{"description":"The username","type":"string"},"active":{"description":"Whether user is active or not. 1 or 0","type":"number"},"force_pwd_change":{"description":"Whether user is required to change password on next login or not. 1 or 0","type":"number"},"email":{"description":"The user's email","type":"string"}},"type":"object","x-public":true,"x-version":"v2"},"Disk":{"anyOf":[{"$ref":"#\/components\/schemas\/PartitionDisk"},{"$ref":"#\/components\/schemas\/RaidDisk"}],"x-public":true,"x-json-schema":"ServerCreate,ServerReload,OrderCreate,BareMetalServerReload"},"PartitionDisk":{"allOf":[{"required":["device"],"properties":{"device":{"type":"string","example":"\/dev\/nvme0n1"},"install_bootloader":{"type":"boolean","default":false},"label":{"description":"Partition table type","type":"string","enum":["aix","amiga","bsd","dvh","gpt","loop","mac","msdos","pc98","sun"],"example":"gpt"},"partitions":{"type":"array","items":{"anyOf":[{"$ref":"#\/components\/schemas\/Partition"},{"properties":{"size":{"description":"Size in megabytes. If not provided, the partition will consume all remaining available space on the disk.","type":"integer"},"flags":{"description":"Partition flags","type":"array","items":{"description":"Partition flags to set","type":"string","enum":["bios_grub","legacy_boot","bls_boot","boot","msftdata","msftres","irst","esp","chromeos_kernel","lba","root","linux-home","swap","hidden","raid","LVM","PALO","PREP","DIAG"]},"example":"[\"esp\"]"}},"type":"object"}]}}},"type":"object"}],"x-public":true,"x-json-schema":"ServerCreate,ServerReload,OrderCreate,BareMetalServerReload"},"ConfigDrive":{"properties":{"config_drive":{"description":"Build a cloud-init config drive on this partition.","type":"boolean","default":false}},"type":"object","x-public":true,"x-json-schema":"ServerCreate,ServerReload,OrderCreate,BareMetalServerReload"},"Filesystem":{"properties":{"format":{"type":"string","example":"ext4"},"format_options":{"type":"string","example":"-L STORAGE"},"mountpoint":{"type":"string","example":"\/storage"}},"type":"object","x-public":true,"x-json-schema":"ServerCreate,ServerReload,OrderCreate,BareMetalServerReload"},"Partition":{"required":["name"],"allOf":[{"properties":{"name":{"description":"Partition name","type":"string","example":"ROOT"}},"type":"object"},{"oneOf":[{"$ref":"#\/components\/schemas\/ConfigDrive"},{"$ref":"#\/components\/schemas\/Filesystem"}]}],"x-public":true,"x-json-schema":"ServerCreate,ServerReload,OrderCreate,BareMetalServerReload"},"RaidDisk":{"allOf":[{"required":["device","raid"],"properties":{"device":{"type":"string","example":"\/dev\/md\/STORAGE"},"raid":{"required":["level","components"],"properties":{"level":{"description":"RAID level","oneOf":[{"type":"integer","enum":[0,1,4,5,6,10],"example":1},{"type":"string","enum":["linear","multipath"],"example":"linear"}]},"components":{"description":"RAID member devices","type":"array","items":{"type":"string"},"example":"[\"\/dev\/nvme0n1\", \"\/dev\/nvme0n2\"]"},"kwargs":{"description":"kwargs passed to mdadm create","type":"string","example":"--run --metadata 1.0"}},"type":"object"}},"type":"object"},{"oneOf":[{"$ref":"#\/components\/schemas\/ConfigDrive"},{"$ref":"#\/components\/schemas\/Filesystem"}]}],"x-public":true,"x-json-schema":"ServerCreate,ServerReload,OrderCreate,BareMetalServerReload"},"ServerCreateValidationErrorResponse":{"properties":{"errors":{"type":"array","items":{"$ref":"#\/components\/schemas\/ServerCreateValidationError"}}},"type":"object","x-public":true,"x-json-schema":"ServerCreate","x-version":"v2"},"ServerCreateValidationError":{"properties":{"property":{"description":"Property that failed validation","type":"string"},"pointer":{"type":"string"},"message":{"type":"string"},"constraint":{"type":"string"},"context":{"type":"integer"}},"type":"object","x-public":true,"x-json-schema":"ServerCreate","x-version":"v2"},"FacilityStock":{"description":"Class FacilityStock","properties":{"available":{"type":"array","items":{"type":"string"}},"unavailable":{"type":"array","items":{"type":"string"}},"low":{"type":"array","items":{"type":"string"}},"facility":{"type":"string"}},"type":"object","x-public":true,"x-version":"v2"},"ProjectQuotas":{"description":"Class ProjectQuotas","properties":{"max_ips":{"type":"integer"},"max_servers":{"type":"integer"},"used_servers":{"type":"integer"},"used_ips":{"type":"integer"}},"type":"object","x-public":true,"x-version":"v2"},"ServerCreateParameters":{"description":"Class ServerCreateParameters","required":["core","image"],"properties":{"core":{"type":"string"},"name":{"type":"string","maxLength":100},"hostname":{"type":"string","maxLength":100},"description":{"type":"string"},"image":{"type":"string"},"ssh_keys":{"type":"array","items":{"type":"string"}},"user_data":{"type":"string"},"networks":{"description":"Valid values: [\"public\",\"private\",\"public_ddos\"]","type":"array","items":{"type":"string"}},"quantity":{"type":"integer","default":1},"tags":{"description":"List of tags to store along with this server. This is expected to be valid json.","type":"array","items":{"type":"string"},"example":"[\"sales\",\"production\",\"webserver\"]"},"admin_password":{"type":"string"},"custom_metadata":{"description":"Key value hash to store along with this server. This is expected to be valid json.","type":"object","example":"{\"environment\": \"production\", \"department\": \"sales\"}","additionalProperties":{"type":"string"}},"facility":{"type":"string"},"project_id":{"type":"string"}},"type":"object","x-public":true,"x-json-schema":"ServerCreate","x-version":"v2"},"ServerCreateParametersWithPartitions":{"allOf":[{"required":["partitions"],"properties":{"partitions":{"type":"array","items":{"$ref":"#\/components\/schemas\/Disk"}}},"type":"object"},{"$ref":"#\/components\/schemas\/ServerCreateParameters"}],"x-public":true,"x-json-schema":"ServerCreate","x-version":"v2"},"ServerCreateParametersWithOSDisk":{"allOf":[{"required":["os_disk"],"properties":{"os_disk":{"description":"Installation destination device","type":"string","example":"\/dev\/sda"}},"type":"object"},{"$ref":"#\/components\/schemas\/ServerCreateParameters"}],"x-public":true,"x-json-schema":"ServerCreate","x-version":"v2"},"ServerCreate":{"oneOf":[{"$ref":"#\/components\/schemas\/ServerCreateParametersWithPartitions"},{"$ref":"#\/components\/schemas\/ServerCreateParametersWithOSDisk"}],"x-public":true,"x-json-schema":"ServerCreate","x-version":"v2"},"ServerReloadParameters":{"description":"Class ServerReloadParameters","properties":{"image":{"type":"string"},"ssh_keys":{"type":"array","items":{"type":"string"}},"user_data":{"type":"string"},"admin_password":{"type":"string"},"project_id":{"type":"string"},"modified":{"description":"Valid values: [\"ssh_keys\",\"networks\",\"user_data\",\"admin_password\"], Use this when you modify a field from the last time you reloaded the server and want the field to be empty.","type":"array","items":{"type":"string"}}},"type":"object","x-public":true,"x-json-schema":"ServerReload","x-version":"v2"},"ServerReloadParametersWithPartitions":{"allOf":[{"required":["partitions"],"properties":{"partitions":{"type":"array","items":{"$ref":"#\/components\/schemas\/Disk"}}},"type":"object"},{"$ref":"#\/components\/schemas\/ServerReloadParameters"}],"x-public":true,"x-json-schema":"ServerReload","x-version":"v2"},"ServerReloadParametersWithOSDisk":{"allOf":[{"required":["os_disk"],"properties":{"os_disk":{"description":"Installation destination device","type":"string","example":"\/dev\/sda"}},"type":"object"},{"$ref":"#\/components\/schemas\/ServerReloadParameters"}],"x-public":true,"x-json-schema":"ServerReload","x-version":"v2"},"ServerReload":{"oneOf":[{"$ref":"#\/components\/schemas\/ServerReloadParametersWithPartitions"},{"$ref":"#\/components\/schemas\/ServerReloadParametersWithOSDisk"}],"x-public":true,"x-json-schema":"ServerReload","x-version":"v2"},"Result":{"properties":{"message":{"type":"string"},"status":{"type":"boolean"}},"type":"object","x-public":true}},"responses":{"401":{"description":"Unauthenticated"},"403":{"description":"Unauthorized"}},"securitySchemes":{"v1":{"type":"http","description":"Basic auth for v1 endpoints","scheme":"basic"},"bearerAuth":{"type":"http","description":"Personal Access Token","scheme":"bearer"}}}}
