{
  "openapi": "3.1.0",
  "info": {
    "title": "Limestone Networks OnePortal API",
    "description": "API for managing bare metal server infrastructure",
    "license": {
      "name": "MIT"
    },
    "version": "2.0.0"
  },
  "servers": [
    {
      "url": "https://api.dallas-idc.com/v2"
    }
  ],
  "security": [
    {
      "bearerAuth": []
    }
  ],
  "paths": {
    "/core": {
      "get": {
        "summary": "List Cores",
        "description": "Retrieve all available server configurations (cores) with pricing and specifications",
        "operationId": "listCores",
        "responses": {
          "200": {
            "description": "List of available server configurations",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Core"
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/facility": {
      "get": {
        "summary": "List Facilities",
        "description": "Retrieve all available datacenter facilities",
        "operationId": "listFacilities",
        "responses": {
          "200": {
            "description": "List of available datacenter facilities",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Facility"
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/facility/{location}/stock": {
      "get": {
        "summary": "Get Facility Stock",
        "description": "Retrieve server availability information for a specific datacenter location",
        "operationId": "getFacilityStock",
        "parameters": [
          {
            "name": "location",
            "in": "path",
            "description": "The facility code (e.g., DFW1, LAX1, SLC1)",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Server availability for the specified facility",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/FacilityStock"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "Facility not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/image": {
      "get": {
        "summary": "List Images",
        "description": "Retrieve all available operating system images for server provisioning",
        "operationId": "listImages",
        "responses": {
          "200": {
            "description": "List of available OS images",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Image"
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/instance": {
      "get": {
        "summary": "List Instances",
        "description": "Retrieve a list of all bare metal server instances, optionally filtered by project",
        "operationId": "listInstances",
        "parameters": [
          {
            "name": "project",
            "in": "query",
            "description": "Filter instances by project ID (e.g., PROJ-8ad55d52)",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "List of server instances",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Instance"
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      },
      "post": {
        "summary": "Create Instance",
        "description": "Provision a new bare metal server instance. This is an asynchronous operation that returns a job object to track the provisioning progress. Use the job_identifier to poll the /job/{job_id} endpoint for status updates.",
        "operationId": "createInstance",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateInstanceRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Provisioning job created successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProvisioningJob"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "422": {
            "description": "Validation error or quota exceeded",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProvisioningJob"
                }
              }
            }
          }
        }
      }
    },
    "/job/{job_id}": {
      "get": {
        "summary": "Get Job Status",
        "description": "Retrieve the status and details of an asynchronous provisioning job",
        "operationId": "getJob",
        "parameters": [
          {
            "name": "job_id",
            "in": "path",
            "description": "The unique job identifier",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Job status and details",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Job"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "Job not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/project": {
      "get": {
        "summary": "List Projects",
        "description": "Retrieve a list of all projects for a client account, optionally including quota information",
        "operationId": "listProjects",
        "parameters": [
          {
            "name": "client_id",
            "in": "query",
            "description": "Filter projects by client ID",
            "required": false,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "include_quotas",
            "in": "query",
            "description": "Set to 1 to include quota information in the response",
            "required": false,
            "schema": {
              "type": "integer",
              "enum": [0, 1]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "List of projects",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Project"
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/project/{project_id}": {
      "get": {
        "summary": "Get Project",
        "description": "Retrieve details for a specific project by its ID",
        "operationId": "getProject",
        "parameters": [
          {
            "name": "project_id",
            "in": "path",
            "description": "The unique project identifier (e.g., PROJ-8ad55d52)",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Project details",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Project"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "Project not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/sshkey": {
      "get": {
        "summary": "List SSH Keys",
        "description": "Retrieve all SSH keys associated with your account",
        "operationId": "listSshKeys",
        "responses": {
          "200": {
            "description": "SSH keys response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SshKeyResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      },
      "post": {
        "summary": "Create SSH Key",
        "description": "Add a new SSH public key to your account for use when provisioning server instances",
        "operationId": "createSshKey",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateSshKeyRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "SSH key created successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SshKey"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "422": {
            "description": "Validation error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ValidationError"
                }
              }
            }
          }
        }
      }
    },
    "/current_user": {
      "get": {
        "summary": "Get Current User",
        "description": "Retrieve information about the currently authenticated user",
        "operationId": "getCurrentUser",
        "responses": {
          "200": {
            "description": "Current user information",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/User"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "Core": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "description": "The unique identifier for the core configuration (e.g., bm1.e2234.1)"
          },
          "name": {
            "type": "string",
            "description": "Human-readable name of the server configuration"
          },
          "rate": {
            "type": "number",
            "description": "The price per interval (hourly rate in USD)"
          },
          "interval": {
            "type": "string",
            "description": "The billing interval for the rate",
            "enum": ["hourly"]
          },
          "description": {
            "type": "string",
            "description": "Optional description of the server configuration"
          },
          "default_disk": {
            "type": "string",
            "description": "The default disk device path for OS installation (e.g., /dev/nvme0n1)"
          },
          "metadata": {
            "type": "array",
            "description": "Array of key-value pairs containing hardware specifications",
            "items": {
              "$ref": "#/components/schemas/CoreMetadata"
            }
          }
        },
        "required": ["id", "name", "rate", "interval", "default_disk", "metadata"]
      },
      "CoreMetadata": {
        "type": "object",
        "properties": {
          "key": {
            "type": "string",
            "description": "The metadata key (e.g., cpus, cpu_model, memory)"
          },
          "value": {
            "type": "string",
            "description": "The metadata value"
          }
        },
        "required": ["key", "value"]
      },
      "Facility": {
        "type": "object",
        "properties": {
          "facility_name": {
            "type": "string",
            "description": "The unique facility code (e.g., DFW1, LAX1)"
          },
          "facility_title": {
            "type": "string",
            "description": "Human-readable title including city, state/country, and facility code"
          },
          "facility_description": {
            "type": "string",
            "description": "Short description of the facility"
          }
        },
        "required": ["facility_name", "facility_title", "facility_description"]
      },
      "FacilityStock": {
        "type": "object",
        "properties": {
          "facility": {
            "type": "string",
            "description": "The facility code that was queried"
          },
          "available": {
            "type": "array",
            "description": "List of server core types that are immediately available for deployment",
            "items": {
              "type": "string"
            }
          },
          "low": {
            "type": "array",
            "description": "List of server core types with limited availability",
            "items": {
              "type": "string"
            }
          },
          "unavailable": {
            "type": "array",
            "description": "List of server core types that are currently out of stock",
            "items": {
              "type": "string"
            }
          }
        },
        "required": ["facility", "available", "low", "unavailable"]
      },
      "Image": {
        "type": "object",
        "properties": {
          "name": {
            "type": "string",
            "description": "The unique identifier for the image (e.g., almalinux-8, ubuntu-noble)"
          },
          "displayname": {
            "type": "string",
            "description": "Human-readable name of the operating system image"
          }
        },
        "required": ["name", "displayname"]
      },
      "Instance": {
        "type": "object",
        "properties": {
          "uuid": {
            "type": "string",
            "description": "The full UUID of the instance"
          },
          "short_uuid": {
            "type": "string",
            "description": "The shortened UUID for the instance"
          },
          "name": {
            "type": "string",
            "description": "The user-defined name for the instance"
          },
          "hostname": {
            "type": "string",
            "description": "The fully qualified domain name assigned to the instance"
          },
          "status": {
            "type": "string",
            "description": "The current status of the instance",
            "enum": ["Provisioning", "Online", "Offline", "Rebooting", "Suspended", "Deleting"]
          },
          "facility": {
            "type": "string",
            "description": "The data center location code where the instance is deployed"
          },
          "core": {
            "type": "string",
            "description": "The server configuration ID representing the hardware specs"
          },
          "image": {
            "type": "string",
            "description": "The operating system image installed on the instance"
          },
          "os_disk": {
            "type": "string",
            "description": "The disk device path where the operating system is installed"
          },
          "networks": {
            "type": "array",
            "description": "List of network types attached to the instance",
            "items": {
              "type": "string",
              "enum": ["public", "private"]
            }
          },
          "ssh_keys": {
            "type": "array",
            "description": "List of SSH key names added to the instance",
            "items": {
              "type": "string"
            }
          },
          "tags": {
            "type": "array",
            "description": "User-defined tags for organizing and filtering instances",
            "items": {
              "type": "string"
            }
          },
          "metadata": {
            "type": "array",
            "description": "Array of key-value pairs containing system-defined metadata",
            "items": {
              "type": "object"
            }
          },
          "custom_metadata": {
            "type": "object",
            "description": "User-defined key-value pairs for custom instance metadata",
            "additionalProperties": {
              "type": "string"
            }
          },
          "project_id": {
            "type": "string",
            "description": "The project ID this instance belongs to"
          },
          "item_type": {
            "type": "string",
            "description": "The type of resource",
            "enum": ["instance"]
          },
          "create_date": {
            "type": "string",
            "description": "The date and time when the instance was created (YYYY-MM-DD HH:MM:SS)"
          },
          "ip_addresses": {
            "type": "array",
            "description": "List of IP addresses assigned to the instance",
            "items": {
              "$ref": "#/components/schemas/IpAddress"
            }
          }
        },
        "required": ["uuid", "short_uuid", "name", "status", "facility", "core", "image", "project_id", "item_type", "create_date"]
      },
      "IpAddress": {
        "type": "object",
        "properties": {
          "address": {
            "type": "string",
            "description": "The IP address assigned to the instance"
          },
          "type": {
            "type": "string",
            "description": "Network type: public or private",
            "enum": ["public", "private"]
          },
          "gateway": {
            "type": "string",
            "description": "The gateway IP address for this network"
          },
          "netmask": {
            "type": "string",
            "description": "The subnet mask"
          }
        },
        "required": ["address", "type", "gateway", "netmask"]
      },
      "Job": {
        "type": "object",
        "properties": {
          "uuid": {
            "type": "string",
            "description": "The full UUID of the job"
          },
          "short_uuid": {
            "type": "string",
            "description": "The shortened UUID for the job"
          },
          "status": {
            "type": "string",
            "description": "The current status of the job",
            "enum": ["pending", "running", "completed", "failed", "cancelled"]
          },
          "type": {
            "type": "string",
            "description": "The type of operation being performed",
            "enum": ["provision", "deprovision", "reboot", "reinstall"]
          },
          "progress": {
            "type": "integer",
            "description": "The completion percentage of the job (0-100)",
            "minimum": 0,
            "maximum": 100
          },
          "message": {
            "type": "string",
            "description": "A human-readable description of the current job step or final result"
          },
          "error": {
            "type": "string",
            "description": "Error message if the job failed"
          },
          "resource_type": {
            "type": "string",
            "description": "The type of resource this job is operating on"
          },
          "resource_id": {
            "type": ["string", "null"],
            "description": "The ID of the resource being created or modified"
          },
          "create_date": {
            "type": "string",
            "description": "The date and time when the job was created (YYYY-MM-DD HH:MM:SS)"
          },
          "started_at": {
            "type": ["string", "null"],
            "description": "The date and time when the job started executing"
          },
          "completed_at": {
            "type": ["string", "null"],
            "description": "The date and time when the job completed"
          }
        },
        "required": ["uuid", "short_uuid", "status", "type", "progress", "message", "resource_type", "create_date"]
      },
      "Project": {
        "type": "object",
        "properties": {
          "uuid": {
            "type": "string",
            "description": "The full UUID of the project"
          },
          "short_uuid": {
            "type": "string",
            "description": "The shortened UUID used in the project_id"
          },
          "project_id": {
            "type": "string",
            "description": "The unique project identifier in the format PROJ-{short_uuid}"
          },
          "status": {
            "type": "string",
            "description": "The current status of the project",
            "enum": ["Online", "Suspended"]
          },
          "name": {
            "type": ["string", "null"],
            "description": "The user-defined name for the project"
          },
          "metadata": {
            "type": "array",
            "description": "Array of key-value pairs containing custom project metadata",
            "items": {
              "type": "object"
            }
          },
          "item_type": {
            "type": "string",
            "description": "The type of resource",
            "enum": ["project"]
          },
          "create_date": {
            "type": "string",
            "description": "The date and time when the project was created (YYYY-MM-DD HH:MM:SS)"
          },
          "client_id": {
            "type": "integer",
            "description": "The unique identifier of the client account that owns this project"
          },
          "quotas": {
            "$ref": "#/components/schemas/Quotas",
            "description": "Resource quota information (only included when include_quotas=1)"
          },
          "unpaid_invoices": {
            "type": "integer",
            "description": "The number of unpaid invoices associated with this project"
          }
        },
        "required": ["uuid", "short_uuid", "project_id", "status", "item_type", "create_date", "client_id", "unpaid_invoices"]
      },
      "Quotas": {
        "type": "object",
        "properties": {
          "max_ips": {
            "type": "integer",
            "description": "Maximum number of IP addresses allowed"
          },
          "max_servers": {
            "type": "integer",
            "description": "Maximum number of servers allowed (0 = unlimited)"
          },
          "used_servers": {
            "type": "integer",
            "description": "Current number of provisioned servers"
          },
          "used_ips": {
            "type": "integer",
            "description": "Current number of allocated IP addresses"
          }
        },
        "required": ["max_ips", "max_servers", "used_servers", "used_ips"]
      },
      "SshKey": {
        "type": "object",
        "properties": {
          "id": {
            "type": "integer",
            "description": "Unique identifier for the SSH key"
          },
          "fingerprint": {
            "type": "string",
            "description": "The MD5 fingerprint of the SSH key in colon-separated hexadecimal format"
          },
          "pubkey": {
            "type": "string",
            "description": "The full public key string"
          },
          "comment": {
            "type": "string",
            "description": "The comment field from the SSH key"
          },
          "name": {
            "type": "string",
            "description": "The display name for the SSH key"
          }
        },
        "required": ["id", "fingerprint", "pubkey", "name"]
      },
      "SshKeyResponse": {
        "type": "object",
        "properties": {
          "keys": {
            "type": "array",
            "description": "Array of SSH key objects associated with your account",
            "items": {
              "$ref": "#/components/schemas/SshKey"
            }
          }
        },
        "required": ["keys"]
      },
      "User": {
        "type": "object",
        "properties": {
          "username": {
            "type": "string",
            "description": "The user's login username"
          },
          "id": {
            "type": "integer",
            "description": "Unique user identifier"
          },
          "client_id": {
            "type": "integer",
            "description": "The associated client/account ID"
          },
          "firstname": {
            "type": "string",
            "description": "User's first name"
          },
          "lastname": {
            "type": "string",
            "description": "User's last name"
          },
          "force_pwd_change": {
            "type": "integer",
            "description": "Password change requirement flag (0 = not required, 1 = required)",
            "enum": [0, 1]
          },
          "active": {
            "type": "integer",
            "description": "Account active status (0 = inactive, 1 = active)",
            "enum": [0, 1]
          },
          "email": {
            "type": "string",
            "description": "User's email address"
          }
        },
        "required": ["username", "id", "client_id", "firstname", "lastname", "force_pwd_change", "active", "email"]
      },
      "Error": {
        "type": "object",
        "properties": {
          "error": {
            "type": "string",
            "description": "Error type"
          },
          "message": {
            "type": "string",
            "description": "Error message"
          }
        },
        "required": ["error", "message"]
      },
      "CreateSshKeyRequest": {
        "type": "object",
        "properties": {
          "name": {
            "type": "string",
            "description": "A display name for the SSH key (used when selecting keys during instance creation)"
          },
          "pubkey": {
            "type": "string",
            "description": "The full SSH public key string (e.g., ssh-rsa AAAA... or ssh-ed25519 AAAA...)"
          }
        },
        "required": ["name", "pubkey"]
      },
      "ValidationError": {
        "type": "object",
        "description": "Validation error response with field-specific error messages",
        "additionalProperties": {
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      },
      "CreateInstanceRequest": {
        "type": "object",
        "description": "Request payload for creating a new bare metal server instance",
        "properties": {
          "name": {
            "type": "string",
            "description": "A user-defined name for the instance"
          },
          "hostname": {
            "type": "string",
            "description": "The fully qualified domain name (FQDN) for the server"
          },
          "facility": {
            "type": "string",
            "description": "The datacenter location code (e.g., DFW1, LAX1)"
          },
          "core": {
            "type": "string",
            "description": "The server configuration ID representing hardware specs (e.g., bm1.e2234.1)"
          },
          "image": {
            "type": "string",
            "description": "The operating system image to install (e.g., almalinux-8, ubuntu-noble)"
          },
          "ssh_keys": {
            "type": "array",
            "description": "List of SSH key names to add to the instance for authentication",
            "items": {
              "type": "string"
            }
          },
          "keypair": {
            "type": "string",
            "description": "Alternative to ssh_keys - a single SSH key name (deprecated, use ssh_keys instead)"
          },
          "user_data": {
            "type": "string",
            "description": "Cloud-init user data script for instance initialization (e.g., #cloud-config)"
          },
          "networks": {
            "type": "array",
            "description": "List of network types to attach to the instance",
            "items": {
              "type": "string",
              "enum": ["public", "private"]
            }
          },
          "os_disk": {
            "type": "string",
            "description": "The disk device path for OS installation (e.g., /dev/nvme0n1)"
          },
          "partitions": {
            "type": "array",
            "description": "Custom disk partition configuration (empty array for default partitioning)",
            "items": {
              "type": "object"
            }
          },
          "admin_password": {
            "type": "string",
            "description": "Optional administrator password for the server"
          },
          "tags": {
            "type": "array",
            "description": "User-defined tags for organizing and filtering instances",
            "items": {
              "type": "string"
            }
          },
          "quantity": {
            "type": "integer",
            "description": "Number of identical instances to provision (default: 1)",
            "minimum": 1,
            "default": 1
          },
          "custom_metadata": {
            "type": "object",
            "description": "User-defined key-value pairs for custom instance metadata",
            "additionalProperties": {
              "type": "string"
            }
          },
          "custom_image": {
            "type": "string",
            "description": "URL or identifier for a custom OS image (alternative to standard image)"
          },
          "project_id": {
            "type": "string",
            "description": "The project ID to associate this instance with (e.g., PROJ-8ad55d52)"
          }
        },
        "required": ["name", "hostname", "facility", "core", "image", "networks", "os_disk", "project_id"]
      },
      "ProvisioningJob": {
        "type": "object",
        "description": "Asynchronous job tracking object for instance provisioning operations",
        "properties": {
          "created_at": {
            "type": "string",
            "format": "date-time",
            "description": "ISO 8601 timestamp when the job was created"
          },
          "name": {
            "type": "string",
            "description": "Internal job name identifier"
          },
          "display_name": {
            "type": "string",
            "description": "Human-readable job name"
          },
          "status": {
            "type": "string",
            "description": "Current status of the provisioning job",
            "enum": ["pending", "running", "completed", "failed"]
          },
          "job_identifier": {
            "type": "string",
            "format": "uuid",
            "description": "Unique identifier for tracking the job status via /job/{job_id}"
          },
          "metadata": {
            "type": "array",
            "description": "Additional job metadata",
            "items": {
              "type": "object"
            }
          },
          "statuses": {
            "type": "array",
            "description": "Detailed status history of the provisioning process",
            "items": {
              "$ref": "#/components/schemas/JobStatus"
            }
          }
        },
        "required": ["created_at", "name", "display_name", "status", "job_identifier", "statuses"]
      },
      "JobStatus": {
        "type": "object",
        "description": "Individual status entry in the provisioning job history",
        "properties": {
          "created_at": {
            "type": "string",
            "format": "date-time",
            "description": "ISO 8601 timestamp when this status was created"
          },
          "update_time": {
            "type": "string",
            "format": "date-time",
            "description": "ISO 8601 timestamp when this status was last updated"
          },
          "status": {
            "type": "string",
            "description": "Status of this job step",
            "enum": ["create", "start", "running", "completed", "failed"]
          },
          "attempt": {
            "type": "integer",
            "description": "Attempt number for this job step"
          },
          "metadata": {
            "type": "array",
            "description": "Additional metadata including error details if failed",
            "items": {
              "$ref": "#/components/schemas/JobStatusMetadata"
            }
          },
          "job_type": {
            "type": "string",
            "description": "The type of operation being performed in this step"
          }
        },
        "required": ["created_at", "update_time", "status", "attempt", "job_type"]
      },
      "JobStatusMetadata": {
        "type": "object",
        "description": "Key-value metadata for job status entries",
        "properties": {
          "key": {
            "type": "string",
            "description": "Metadata key (e.g., 'errors')"
          },
          "value": {
            "type": "string",
            "description": "Metadata value (may contain JSON-encoded error details)"
          }
        },
        "required": ["key", "value"]
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "scheme": "bearer"
      }
    }
  }
}
